selector {
	transition: value;
}

h1 {
	color: darkred;
	text-align: center;
	border: 5px solid black;
}
h2 {
	color: yellow;
}
body {
	background-image: url(https://images-cdn.welcomesoftware.com/Zz0wZGI4ZTI2NjhlNGQxMWViODVlN2QzNTI0ZjhkZTQyOA==);
}
image {
transition: ;
hov
}